<div class="container w-50 mt-5">
  <div class="row">
    <div class="col">
      <div>
        {{ indice + 1 }}. {{ empleadoDeLista.nombre }}
        {{ empleadoDeLista.apellido }} {{ empleadoDeLista.cargo }}
        {{ empleadoDeLista.salario }}
        <a [routerLink]="['/actualizar', indice]" [queryParams]="{accion:'1'}"> Actualiza</a>
        &nbsp;&nbsp;
        <a [routerLink]="['/actualizar', indice]" [queryParams]="{accion:'2'}"> Elimina</a>

      </div>

      <ul style="list-style: none">
        <li *ngFor="let caracteristica of arrayCaracteristicas">
          {{ caracteristica }}
        </li>
      </ul>
    </div>
    <app-caracteristicas-empleados-c
      (caracteristicasEmpleados)="addNewItem($event)"
    ></app-caracteristicas-empleados-c>
  </div>
</div>
